
Croketa-cache\.bck

Croketa-cache\.dcm

Croketa\.bak

Croketa\.cmp

Croketa\.net

Hw/libreria/croketa\.bck

Hw/libreria/croketa\.dcm

sym-lib-table

*.kicad_pcb-bak

_autosave-Croketa\.kicad_pcb

_saved_Croketa\.sch
